<form [formGroup]="newGameForm" class="form-newgame" (ngSubmit)="startGame()">
  <h2> Please enter your Names </h2>
  <br />
  <div formArrayName="players_attributes">
    <div *ngFor="let player of newGameForm['controls'].players_attributes['controls']; let i=index" [formGroupName]="i" >
      <input class="form-control" formControlName="name" placeholder="Player name {{i + 1}}">
      <br/>
    </div>
    <button class="btn btn-lg btn-secondary btn-block" >Start game</button>
  </div>
</form>
