<div class="rotate_info">
  Please rotate your phone<br/>
  <i class="fa fa-mobile fa-6" aria-hidden="true"></i>
</div>

It's your turn: <b> {{ player?.name }} </b>

<br />
<br />
<div class="row">
  <div class="col-12">
    <div class="alert alert-success" role="alert" *ngIf="win">
      Winner winner <b> {{ player?.name }} </b>
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="draw && !win">
      No one wins. It's a draw!
    </div>
  </div>
</div>
<div class="row align-items-center" *ngIf="draw || win">
  <div class="col">&nbsp;</div>
  <div class="col-8">
    <button type="button" class="btn btn-secondary btn-block" [routerLink]="['/game']">New game</button>
  </div>
  <div class="col">&nbsp;</div>
</div>
<div class="row" *ngFor="let x of [[0,1,2], [3,4,5], [6,7,8]]">
  <div class="col">
    &nbsp;
  </div>
  <div class="col-8">
    <div class="card-deck">
      <div class="card" *ngFor="let y of x">
        <div class="card-body"
             (click)="makeMove($event, y)"
             [ngClass]="getClass(y)"
             playerHandling="{{ player?.sign }}">
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    &nbsp;
  </div>
</div>
