body {
  padding-top: 5rem;
}

.form-newgame {
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
}
.card {
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.card-body {
  border-radius: 14px;
  height: 200px;
  width: 100%;
  font-size: 8em;
  margin: 0 auto;
  padding: unset;
  text-align: center;
  opacity: 0;
  font-family: 'FontAwesome';
}
.card-body:hover {
  background-color: #3d4250;
}
.playerone {
  opacity: 1;
}
.playerone:after {
  content: '\f00d';
}

.playerone.active {
  background-color: #dc685a;
}

.playertwo {
  opacity: 1;
}

.playertwo.active {
  background-color: #ecaf4f;
}

.playertwo:after {
  content: '\f10c';
}
